<form action="/posts/2" method="post">
    <input id="hidden" type="hidden" name="_method" value="patch">
    <label for="name">Name:</label>
    <input type="text" id="name" name="name" value="<%="#{@post2.name}"%>" />

    <label for="content">Content</label>
    <input type="text" id="content" name="content" value="<%="#{@post2.content}"%>" />

    <input type="submit" value="submit"/>
</form>
